body {
  font-family: "Lucida Console", Monaco, monospace;
  background: #fcfcfc;
  color: #0f0f0f;
  max-width: 800px;
  margin: 0 auto !important;
  float: none !important;
  padding-bottom: 64px;
}

hr {
    height: 1px;
}

img {
    max-width: 100%;
    max-height: 100%;
    min-width: 75%;
    min-height: 75%;
    height: auto;
    width: auto;
    border: 2px solid #fcfcfc;
    border-radius: 50%;
}

h {
    font-size: 1.6em;
    align: center;
}

a {
    color: #023eb5; 
  }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 50px;
}

.col {
  flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 16px;
}

.left {
    flex: 0 1 auto;
    text-align: center;
    padding-right: 2em;
}

.right {
    flex: 1 1 auto;
    text-align: center;
}

.page-title {
    font-size: 1.3em;
}

.cv-header {
    padding-bottom: 1em;
}

.paper {
    font-size: 1em;
    align: left;
}

.paper-desc {
    font-size: 0.8em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.paper-authors {
    font-size: 0.8em;
    padding-top: 8px;
}

/* Handles formatting for compressed screen sizes/mobile devices. */
@media screen and (max-width: 700px) {
    .col {
	padding-left: 0px;
	padding-right: 0px;
    }
  }
